@model IEnumerable<MVCCore.Models.AlbumModel>

@{
    ViewData["Title"] = "Album Manager";
}

<h1>Album Manager</h1>

<p>
    <a asp-action="Create" class="fs-4">Create New Album</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="align-middle fs-5">
                <td>
                    <img src="@item.DbPhotos.FirstOrDefault(x => x.IsThumbnail)?.DbPath" alt="No Thumbnail" style="max-width:100px" class="rounded shadow" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="ContentManager" asp-route-id="@item.Id">View Content</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <span class="text-danger">@TempData["Error"]</span>
    <span class="text-success">@TempData["Success"]</span>
</div>
<div class="text-start">
    <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Back to Admin Portal</a>
</div>